<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <title>Real Center</title>
	<meta charset="utf-8">
	
	<!-- AngularJS -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script src="templates/js/bootstrap-datetimepicker.min.js"></script>
	
	<!-- css -->
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" >
	<link href="templates/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
	<link href="https://tarjeta.realcenter.com.mx/intranet/templates/css/img/icon.ico" rel="icon">
	 
	<script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
	<base href="/">
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('dropdown-toggle').dropdown()
		});
	</script>
  </head>
  
<body ng-controller="MainCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.realcenter.com.mx/">REAL CENTER
		  </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
		  <ul class="nav navbar-nav navbar-right" ng-if="location.path() !== '/login' && location.path() !== '/request-password' && location.path() !== '/notfound' && location !== '/register'">
              <li class="dropdown" ng-hide="URL == '/rcenterpoint#/login'">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones <span class="caret"></span></a>
                <ul class="dropdown-menu">
					<li>
                      <a href="#/change-password" class="btn btn-logout">Cambiar Contraseña</a>
				  </li>
                  <li>
					<a href="" class="btn btn-logout" ng-click="logout()">Cerrar Sesión</a>
                  </li>
           </ul>
        </div>
      </div>
    </nav>
	<main ng-view></main>
	</body>
</html>