<br>
<br>
<br>
<div class="contact-form">
    <form ng-submit="changePassword(client)" class="form-horizontal col-md-8">
		<h4>Cambiar Contraseña</h4>
		<br>
		<br>
		<div class="form-group">
            <label for="name" class="col-md-2">Contraseña Actual</label>
            <div class="col-md-10">
                <input ng-model="client.current_pwd" type="password" class="form-control" id="current_pwd" placeholder="Ingresar contraseña actual" >
            </div>
        </div>
		
        <div class="form-group">
            <label for="name" class="col-md-2">Nueva Contraseña</label>
            <div class="col-md-10">
                <input type="password" class="form-control" ng-model="client.pwd1" id="pwd1" placeholder="Ingresar nueva contraseña" required>
            </div>
        </div>
 
        <div class="form-group">
            <label for="email" class="col-md-2">Confirmar Contraseña</label>
            <div class="col-md-10">
                <input type="password" class="form-control" ng-model="client.pwd2" id="pwd2" placeholder="Confirmar contraseña" required>
				<span ng-show="is_error" class="help-block"><font color="red">{{error_msg}}</font></span>
			</div>
        </div>
 
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </form>
</div>