
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel='stylesheet' type='text/css'>

<style>
.sortable {
    cursor: pointer;
}
</style>
<br>
<br>
<br>
<div class="col-md-12">
	<div class="panel panel-default panel-table">		
		<div class="panel-heading">
			<div class="row">
			</div>
			<div class="form-inline">
				<div class="form-group">
                    <a href="cardpoint/#/points-register"><button type="button" class="btn btn-sm btn-primary btn-create">Registrar Puntos</button></a>
					<button class="btn  btn-xs btn-success" ng-click="exportData()">Export (.csv)</button>
				</div>
				<br>
				<br>
                <div class="form-group">
                    <label class="" for="Search">Buscar: </label>
                    <input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="searchText" style="height: 30px; width: 220px;" placeholder="Buscar en cualquier columna..." />
				</div>
				&nbsp;
				<div class="form-group">
                    <div class="form-group pull-right">
                    <label class="" for="PageSize">Tam. Página</label>
                    <select class="form-control" name="pageSize" ng-change="setPageSize()" 
						ng-model="pageSize" style="height: 30px;">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
						<option value="20">20</option>
                    </select>
					</div>
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="form-group">
                    <label class="" for="Search">Fecha Inicial: </label>
                    <input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="initial_date" style="height: 30px;" />
					&nbsp;
					<label class="" for="Search">Fecha Final: </label>
					<input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="final_date" style="height: 30px;" />
					<button class="btn  btn-xs btn-info" ng-click="filterDates()">Filtrar Fechas</button>
					<button class="btn  btn-xs btn-warning" ng-click="clearFilter()">Limpiar</button>
				</div>
		</div>
	</div>
	
        <div class="panel-body">                      
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="id" custom-sort order="'id'" sort="sort" style="cursor: pointer;">#&nbsp;</th>
						<th class="credential_number" custom-sort order="'commerce'" sort="sort" style="cursor: pointer;">Negocio&nbsp;</th>
                        <th class="name" custom-sort order="'buy_date'" sort="sort" style="cursor: pointer;">Fecha Compra&nbsp;</th>
                        <th class="email" custom-sort order="'register_date'" sort="sort" style="cursor: pointer;">Fecha Registro&nbsp;</th>
                        <th class="phone" custom-sort order="'credential_number'" sort="sort" style="cursor: pointer;">No. Credencial&nbsp;</th>
                        <th class="birthdate" custom-sort order="'ticket_number'" sort="sort" style="cursor: pointer;">No. Ticket&nbsp;</th>
                        <th class="register_date" custom-sort order="'quantity'" sort="sort" style="cursor: pointer;">Monto&nbsp;</th>
						<th class="colony" custom-sort order="'points'" sort="sort" style="cursor: pointer;">Puntos&nbsp;</th>
						<th class="colony" custom-sort order="'comments'" sort="sort" style="cursor: pointer;">Nota&nbsp;</th>
						<th class="colony" custom-sort order="'comments'" sort="sort" style="cursor: pointer;">Promoción&nbsp;</th>						
						<th class="opciones" custom-sort>Opciones</th>
					</tr>
                </thead>
				<tbody>
                    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse | filter:searchText as results">
                        <td>{{$index + 1}}</td>
						<!--<td>{{item.pointsid}}</td>-->
                        <td>{{item.commerce_name}}</td>
                        <td>{{item.buy_date}}</td>
                        <td>{{item.register_date}}</td>
                        <td>{{item.credential_number}}</td>
                        <td>{{item.ticket_number}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.total_points}}</td>
						<td>{{item.comments}}</td>
						<td>{{item.percent}}</td>
						<td align="center">
							<button class="btn btn-danger btn-xs" ng-click="cancelPoint(item)">Cancelar</button>
						</td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                             <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Anterior</a>
                                </li>
								<li ng-class="">
                                    <a href>{{ (currentPage) + (1) }} de {{gap}}</a>
                                </li>							
								<li ng-class="">                             								
									<a href>
										<select style="width: 60px;" ng-model="currentPage" ng-change="setPageSelect()">
											<option ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap)" 
											>{{$index + 1}}</option>
										</select>
									</a>			
                                </li>								
                                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Siguiente »</a>
                                </li>																							
                            </ul>							
                        </div>
                    </td>
                </tfoot>                
            </table>
        </div>
</div>
</div>