
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel='stylesheet' type='text/css'>

<style>
.sortable {
    cursor: pointer;
}
</style>
<br>
<br>
<br>
<div class="col-md-12">
	<div class="panel panel-default panel-table">		
		<div class="panel-heading">
			<div class="row">
			</div>
			<div class="form-inline">
				<div class="form-group">
                    <a href="#/list-points-credential"><< Regresar</a>
					<h4>Reporte Puntos - {{credential_number}}</h4>	
				</div>
				<br>
				<br>
                <div class="form-group">
                    <label class="" for="Search">Buscar: </label>
                    <input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="searchText" style="height: 30px; width: 220px;" placeholder="Buscar en cualquier columna..." />
				</div>
				<div class="form-group">
                    <div class="form-group pull-right">
                    <label class="" for="PageSize">Tam. Pág.</label>
                    <select class="form-control" name="pageSize" ng-change="setPageSize()" ng-model="pageSize"
						style="height: 30px;">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
						<option value="20">20</option>
                    </select>
					</div>
				</div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label class="" for="Search">Fecha Inicial: </label>
                    <input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="initial_date" style="height: 30px;" placeholder="dd/MM/yyyy" />
                    &nbsp;
                    <label class="" for="Search">Fecha Final: </label>
                    <input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="final_date" style="height: 30px;" placeholder="dd/MM/yyyy" />
                    &nbsp;
                    <button class="btn  btn-xs btn-info" ng-click="filterDates()">Filtrar Fechas</button>
                    <button class="btn  btn-xs btn-warning" ng-click="clearFilter()">Limpiar</button>
                </div>
		</div>
	</div>
	
        <div class="panel-body">                      
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="id" custom-sort order="'id'" sort="sort" style="cursor: pointer;">#&nbsp;</th>
						<th class="credential_number" custom-sort order="'commerce_name'" sort="sort" style="cursor: pointer;">Negocio&nbsp;</th>
                        <th class="name" custom-sort order="'quantity'" sort="sort" style="cursor: pointer;">Monto MXN&nbsp;</th>
                        <th class="email" custom-sort order="'points'" sort="sort" style="cursor: pointer;">Total de Puntos&nbsp;</th>
                        <th class="phone" custom-sort order="'rows'" sort="sort" style="cursor: pointer;">Cantidad de Tickets&nbsp;</th>
						<th class="opciones" custom-sort>Opciones</th>
					</tr>
                </thead>
				<tbody>
                    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse | filter:searchText as results">
                        <td>{{$index + 1}}</td>
                        <td>{{item.commerce_name}}</td>
                        <td>{{item.quantity | currency}}</td>
                        <td>{{item.points | number}}</td>
                        <td>{{item.rows}}</td>
						<td align="center">
							<a href="#/list-points-credential-details-commerce/{{clientid}}-{{item.commerceid}}" ng-if="initial_date == ''" target="_blank"><button class="btn btn-info btn-xs">Detalles</button></a>
                            <a href="#/list-points-credential-details-commerce/{{clientid}}-{{item.commerceid}}/{{start_date}}/{{end_date}}" ng-if="initial_date != ''" target="_blank"><button class="btn btn-info btn-xs">Detalles</button></a>
						</td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                             <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Anterior</a>
                                </li>
                            
                                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                             
                                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Siguiente »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>                
            </table>
        </div>
</div>
</div>