<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel='stylesheet' type='text/css'>

<style>
.sortable {
    cursor: pointer;
}

body {
	!background: #eee !important;
	!background-image: url("https://static.canva.com/static/images/canva_on_laptop.svg");
	background-image: url("templates/css/img/realcenter_home.png");
}

</style>

<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>

<br>
<br>
<br>
<div class="col-md-12">
	<div class="panel panel-default panel-table">		
		<div class="panel-heading">
			<div class="row">
			</div>
			<div class="form-inline">
				<div class="form-group">
                    <a href="#/report-client-points"><< Regresar</a>
					<br>
					<h4>
					Total de puntos vigentes: <b>{{points | number}}</b>
					</h4>
				</div>
				<br>
				<br>
                <div ng-show="noValidPoints.length > 0">
                    <ul>
                        <li ng-repeat="noPoints in noValidPoints">Puntos caducados del {{ noPoints.start_date }} al {{ noPoints.next_date }}: {{ noPoints.points | number }}</li>
                    <ul>
                </div>
                <div class="form-group">
                    <label class="" for="Search">Buscar: </label>
                    <input type="text" name="search" class="form-control" title="Search" 
                        id="search" ng-model="searchText" style="height: 30px; width: 220px;" placeholder="Buscar en cualquier columna..." />
				</div>
				<div class="form-group">
                    <div class="form-group pull-right">
                    <label class="" for="PageSize">Tam. Pág.</label>
                    <select class="form-control" name="pageSize" ng-change="setPageSize()" ng-model="pageSize" style="height: 30px;">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
						<option value="20">20</option>
						<option value="100">100</option>
                    </select>
					</div>
				</div>
		</div>
	</div>
	
        <div class="panel-body">                      
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="id" custom-sort order="'id'" sort="sort" style="cursor: pointer;">#&nbsp;</th>
						<th class="credential_number" custom-sort order="'credential_number'" sort="sort" style="cursor: pointer;">Local&nbsp;</th>
                        <th class="name" custom-sort order="'name'" sort="sort" style="cursor: pointer;">Fecha Compra&nbsp;</th>
                        <th class="email" custom-sort order="'email'" sort="sort" style="cursor: pointer;">Fecha Registro&nbsp;</th>
                        <th class="phone" custom-sort order="'phone'" sort="sort" style="cursor: pointer;">No. Credencial&nbsp;</th>
                        <th class="birthdate" custom-sort order="'birthdate'" sort="sort" style="cursor: pointer;" tooltip="Fecha de Nacimiento">No. Ticket&nbsp;</th>
                        <th class="register_date" custom-sort order="'register_date'" sort="sort" style="cursor: pointer;">Monto&nbsp;</th>
						<th class="colony" custom-sort order="'colony'" sort="sort" style="cursor: pointer;">Puntos&nbsp;</th>
						<th class="zip" custom-sort order="'zip'" sort="sort" style="cursor: pointer;">Promoción&nbsp;</th>
					</tr>
                </thead>
				<tbody>
                    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse | filter:searchText as results" style="color: {{ item.style }}">
                        <td ng-style="{color: (item.valid == '0' ? red : black) }">{{$index + 1}}</td>
                        <td style="color: {{ item.style }}" >{{item.commerce_name}}</td>
                        <td>{{item.buy_date}}</td>
                        <td>{{item.register_date}}</td>
                        <td>{{item.credential_number}}</td>
                        <td>{{item.ticket_number}}</td>
						<td>{{item.quantity | currency}}</td>
						<td>{{item.points | number}}</td>
						<td>{{item.percent}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                             <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Anterior</a>
                                </li>
                            
                                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                             
                                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Siguiente »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>                
            </table>
        </div>
</div>
</div>