<br>
<br>
<br>
<div class="contact-form">
    <form ng-submit="requestPassword(client)" class="form-horizontal col-md-8">
		<h4>Solicitar Contraseña</h4>
		<br>
		<p>
		Escribe el correo electrónico con el que te registraste.
		</p>
		<br>
		<br>
		<div class="form-group">
            <label for="name" class="col-md-2">E-mail</label>
            <div class="col-md-10">
                <input ng-model="client.email" type="text" class="form-control" ng-model="email" id="pwd1" placeholder="Ingresar E-mail" required>
				<span ng-show="request_password_error" class="help-block"><font color="red">{{request_password_error_msg}}</font></span>
			</div>
        </div>
 
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </form>
</div>